Seance3/def.dtd

<!ELEMENT CDs (CD+)>
<!ELEMENT CD (Titre, Interprete, Genre, Piste+, Pochette, site?)>
<!ELEMENT Piste (Titre, Compositeur+, Duree)>
<!ELEMENT Titre (#PCDATA)>
<!ELEMENT Interprete (#PCDATA)>
<!ELEMENT Genre (#PCDATA)>
<!ELEMENT Compositeur (#PCDATA)>
<!ELEMENT Duree (#PCDATA)>
<!ELEMENT Pochette (urlface, urldos?)>
<!ELEMENT urlface (#PCDATA)>
<!ELEMENT urldos (#PCDATA)>
<!ELEMENT site (#PCDATA)>